body {
  font-family: 'Arial', sans-serif;
  background-color: #FFF;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

span {
  margin-top: 20px;
  font-size: 18px;
}

.showAccount {
  font-weight: bold;
  color: #333;
}
